<div class="user">
  <div class="user-avatar">
    <img src="./assets/images/user.jpg" alt="avatar">
    <div class="user-label">2</div>
  </div>
  <div class="user-name">Michael D. Powell</div>
  <div class="user-role">Poker Master</div>
  <ul class="icons">
    <li class="icon">
      <img src="http://brandmark.io/logo-rank/random/pepsi.png" alt="avatar">
    </li>
    <li class="icon">
      <img src="http://brandmark.io/logo-rank/random/pepsi.png" alt="avatar">
    </li>
    <li class="icon">
      <img src="http://brandmark.io/logo-rank/random/pepsi.png" alt="avatar">
    </li>
  </ul>
</div>
