<div class="games">
  <div class="toolbar">
    <mat-form-field class="select">
      <mat-select placeholder="Categories" [(value)]="category">
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{ category.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ul class="tabs">
      <li class="tab" *ngFor="let tab of tabs; let i = index">
        <button mat-button
                [class.active]="tab.active"
                (click)="changeTab(tab, i)">{{tab.label}}</button>
      </li>
    </ul>

    <div class="viewTrigger">
      <button mat-icon-button class="tile">
        <mat-icon>view_module</mat-icon>
      </button>
      <button mat-icon-button class="list">
        <mat-icon>view_list</mat-icon>
      </button>
    </div>
  </div>

  <div class="content" [ngSwitch]="state">


    <div class="data" *ngSwitchCase="0">
      <div class="tabHeader">
        <div>
          <div class="subTitle">Don't miss them</div>
          <div class="title">Recommended for You</div>
        </div>
        <button mat-raised-button class="action">View all</button>
      </div>

      <div class="cards">
        <div class="card card1">
          <div class="cardHead">
            <div class="button users">
              <mat-icon>perm_identity</mat-icon> 4,991,022
            </div>
            <div class="button rating">
              <mat-icon *ngFor="let star of [1,1,1,1,1]">star_rate</mat-icon>
              <mat-icon *ngFor="let star of []" class="empty">star_rate</mat-icon> 5
            </div>
          </div>
          <div class="cardContent cardContent1">
            <div class="cardDescription">
              <img class="iconGame iconGame1" src="./assets/images/iconGame1.png" alt="">
            <div class="description">
              <h1>
                Score! Hero!
              </h1>
              <p>
                First Touch Games Ltd.
              </p>
            </div>
            </div>         
          <a href="#">Additional Information</a>
        </div>
        <img src="./assets/images/game1.png" alt="" class="gameImg">
        </div>
        <div class="card card2">
          <div class="cardHead">
            <div class="button users">
              <mat-icon>perm_identity</mat-icon> 92,564
            </div>
            <div class="button rating">
              <mat-icon *ngFor="let star of [1,1,1,1]">star_rate</mat-icon>
              <mat-icon *ngFor="let star of [1]" class="empty">star_rate</mat-icon>
               4.2
            </div>
          </div>
          <div class="cardContent cardContent2">
            <div class="cardDescription">
              <img class="iconGame iconGame2" src="./assets/images/iconGame2.png" alt="">
            <div class="description">
              <h1>
                Moto Rider
              </h1>
              <p>
                GameSpire Ltd.
              </p>
            </div>
            </div>         
          <a href="#">Additional Information</a>
        </div>
        <img src="./assets/images/game2.png" alt="" class="gameImg">
        </div>
        <div class="card card3">
          <div class="cardHead">
            <div class="button users">
              <mat-icon>perm_identity</mat-icon> 1,223,392
            </div>
            <div class="button rating">
              <mat-icon *ngFor="let star of [1,1,1,1]">star_rate</mat-icon>
              <mat-icon *ngFor="let star of [1]" class="empty">star_rate</mat-icon> 4
            </div>
          </div>
          <div class="cardContent cardContent3">
            <div class="cardDescription">
              <img class="iconGame iconGame3" src="./assets/images/iconGame3.png" alt="">
            <div class="description">
              <h1>
                Racing Fever
              </h1>
              <p>
                Spinner Master
              </p>
            </div>
            </div>         
          <a href="#">Additional Information</a>
        </div>
        <img src="./assets/images/game3.png" alt="" class="gameImg">
        </div>
      </div>
    </div>



    <div class="data" *ngSwitchCase="1">
      <div class="tabHeader">
        <div>
          <div class="subTitle">This Week’s</div>
          <div class="title">Trending Games</div>
        </div>
        <button mat-raised-button class="action">View all</button>
      </div></div>
      <div class="games trending">
        <div class="container_game">
          <div class="game">
          <div class="gameDescription">
            <img src="./assets/images/iconGame4.png" alt="" class="iconGame">
            <div class="gameName">
              <h3>
                Block Craft 3D
              </h3>
              <h4>
                Fun Games
              </h4>
            </div>
             <button mat-icon-button class="tile">
        <mat-icon>more_vert</mat-icon>
      </button>
          </div>
          <div class="players">
            <div class="players_icons">
              <a href="#"><img src="" alt=""></a>
              <a href="#"><img src="" alt=""></a>
              <a href="#"><img src="" alt=""></a>
              <a href="#"><img src="" alt=""></a>
              <a href="#"><mat-icon>account_circle</mat-icon></a>
            </div>
          </div>
        </div> 
        </div> 
      </div>


    <div class="data" *ngSwitchCase="2">New Releases</div>
  </div>

</div>
